
<div *ngIf="aluno">
    <h2><span>Aluno</span> {{aluno.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nome</span></dt>
        <dd>
            <span>{{aluno.nome}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{aluno.email}}</span>
        </dd>
        <dt><span>Pontuacao</span></dt>
        <dd>
            <span>{{aluno.pontuacao}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'aluno/'+ aluno.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
